@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';

body {
    background-color: $body_bg_color; //overflow-y: hidden;
    font-family: "open sans";
}


input {
    font-family: "open sans";
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  @keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */

.max_width {
    width: 100%;
    max-width: $max_width;
    margin: 0 auto;
}

/*** Header ***/
#header {
    box-shadow: rgba(0,0,0,0.1) 0px 0px 40px 0px;
    user-select: none;
    #header_top {
        background-color: #132F4A;
        height: $header_top_bar_height;
        color: #BBBBBB;
        font-size: 13px;
        font-family: montserrat;
         
        div {
            display: flex;
            align-items: center;
        }

        i{
            font-size: 14px;
            margin-right: 5px;

            &.fa-phone {
                transform: scaleX(-1);
            }
        }

        .header_top_rhs {
            div {
                margin-left: 50px;
            }
        }
    }

    #header_bottom {
        background-color: #fff;
        height: 95px;

        .header_bottom_container {
        }

        .logo {
            font-family: montserrat;
            font-weight: 600;
            color: #07668C;
            font-size: 28px;

            @include media-breakpoint-down(sm) {
                font-size: 26px;
            }
        }

        #menu_item_container {
            flex-grow: 1;
            margin-left: 65px;
        }

        #primary-menu {

            margin: 0px;
            padding: 0px;

            li {
                display: inline-block;
                margin-right: 45px;

                a {
                    text-decoration: none;
                    font-family: montserrat;
                    font-weight: 700;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: #222;
                    outline: none;
                }

                i {
                    display: none;
                }
                .sub-menu {
                    display: none;
                }
            }
        }

        .appointment_button_div {
            a {
                color: #fff;
                font-family: montserrat;
                font-weight: 600;
                padding: 15px 30px;
                background-color: #FF4A4A;
                font-size: 13px;
                text-transform: uppercase;
                border-radius: 30px;
                text-decoration: none;

                @include media-breakpoint-down(sm) {
                    font-size: 12px;
                    padding: 15px 20px;
                }
            }
        }
    }
}
/*** Header ***/

/*** Footer ***/
#footer {
    user-select: none;
    &.location_footer {
        margin-top: -5px;
    }
    #footer_top {
        background-color: #132F4A;
        min-height: 365px;
        color: #fff;
        padding: 60px 15px 30px;

        & > .max_width > div {
            @include media-breakpoint-down(sm) {
                margin-bottom: 80px;

                &:last-child {
                    margin-bottom: 15px;
                }
            }
            
        }

        .footer_sections {
            height: 240px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                font-family: montserrat;
                font-size: 26px;
                font-weight: 600;
                margin-bottom: 0;
            }

            p {
                color: #a2a2a2;
                font-size: 14px;
                width: 75%;
                margin-bottom: 0px;
                line-height: 2em;

                @include media-breakpoint-down(sm) {
                    width: 100%;
                }
            }
            .social_icons {
                i {
                    margin-right: 40px;
                }
            }
        }

        .footer_mhs {
            color: #fff;
            font-size: 15px;
            height: 240px;
            i {
                color: #b0b0b0;
                margin-right: 10px;
                font-size: 16px;

                &.fa-phone {
                    transform: scaleX(-1);
                }
            }

            & > div {
                color: #b0b0b0;
                font-size: 14px;
                font-family: montserrat;
            }
            h2 {
                font-family: "open sans";
                font-size: 20px;
                margin-bottom: 15px;
            }
        }

        .footer_rhs {
            h2 {
                font-family: "open sans";
                font-size: 20px;
                margin-bottom: 40px;
            }
            a {
                color: #b0b0b0;
                text-transform: uppercase;
                font-size: 13px;
                font-family: montserrat;
            }
        }
    }

    #footer_bottom {
        background-color: #fff;
        height: 80px;
        font-size: 12px;
        font-weight: 600;
        font-family: montserrat;

        i {
            font-size: 13px;
            margin-right: 3px;
        }
    }
}
/*** Footer ***/

/*** Content ***/
#content {
    min-height: 50vh;
    width: 100%;

    .page_title_section_container {
        height: 225px;
        background-image: url('../images/banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        &__overlay {
            background: rgba(0,0,0,0.5);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 35px;
            font-family: montserrat;
            font-weight: 700;
            color: #fff;
            user-select: none;
            flex-direction: column;

            @include media-breakpoint-down(sm) {
                font-size: 28px;
            }

            span {
                font-size: 14px;
                color: #BBBBBB;

                @include media-breakpoint-down(sm) {
                    font-size: 13px;
                }
            }
        }
    }

    /* Contact Div */
    .contact_div {
        background-color: #fff;
        min-height: 500px;
        box-shadow: rgba(0,0,0,0.1) 0px 0px 40px 0px;
        position: relative;
        top: -25px;
        padding: 60px;
        margin-bottom: 50px;

        @include media-breakpoint-down(sm) {
            padding: 60px 40px;
        }

        h3 {
            color: #124262;
            font-size: 22px;
            font-weight: 600;
            font-family: montserrat;
            border-bottom: 1px solid #E1E1E1;
            padding-bottom: 25px;
            margin-bottom: 35px;
        }

        .input_div_container {
            .input_div {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 10px;
                }
                p {
                    font-size: 13px;
                    margin-bottom: 5px;
                    font-family: "open sans";
                    color: #464646;
                    font-weight: 600;
                }
                input, textarea {
                    width: 100%;
                    background-color: #f2f2f2;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.125);
                    outline: none;
                    border: none;
                    padding: 15px;
                }

                textarea {
                    min-height: 150px;
                    max-height: 150px;
                }
                
                button {
                    background-color: #132F4A;
                    padding: 15px 30px;
                    color: #fff;
                    outline: none;
                    border: none;
                    font-family: montserrat;
                    font-weight: 600;
                    font-size: 15px;
                }
            }
        }

        .contact_details_div_container {
            @include media-breakpoint-down(sm) {
                margin-top: 50px;
            }
        }

        .consultation_hours_div {
            margin-top: 150px;
        }

        .contact_details_div {
            margin-top: 40px;
            color: #124262;
            font-weight: 600;
            i {
                font-size: 20px;
                margin-right: 15px;
                &.fa-phone {
                    transform: scaleX(-1);
                }
            }
        }
    }

    .address_div {
        color: #124262;
            font-weight: 600;
            text-align: center;
            margin-bottom: 50px;
        h3 {
            color: #124262;
            font-size: 22px;
            font-weight: 600;
            font-family: montserrat;
            border-bottom: 1px solid #E1E1E1;
            padding-bottom: 25px;
            margin-bottom: 35px;
            text-align: center;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .address_map_container {
        height: 145px;
        width: 100%;
        position: relative;
        transition: all 0.3s ease;

        &.slide_down_height {
            height: 450px;

        }

        iframe {
            width: 100%;
            //margin-bottom: -5px;
        }

        .address_map_overlay {
            background-color: rgba(0,0,0,0.1);
            width: 100%;
            height: 145px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s ease;

            &.hide {
                display: none;
            }

            i {
                font-size: 40px;
                color: #FF4A4A;
            }
        }
    }
    /* Contact Section */

    &.location_content {
        background-color: #fff;
    }

    .location_div {
        iframe {
            width: 100%;
            height: $location_iframe_height;
        }

        .location_address_container {
            padding: 60px 30px;

            h3 {
                color: #124262;
                font-size: 18px;
                font-weight: 600;
                font-family: montserrat;
                border-bottom: 1px solid #E1E1E1;
                padding-bottom: 25px;
                margin-bottom: 35px;
            }

            .contact_details_div {
                margin-top: 40px;
                color: #124262;
                font-weight: 600;
                font-size: 16px;
                i {
                    font-size: 20px;
                    margin-right: 15px;
                    &.fa-phone {
                        transform: scaleX(-1);
                    }
                }
            }

            .consultation_hours_div {
                margin-top: 100px;
            }

            .location_address_lhs {
                z-index: 10000;
                position: absolute;

                @include media-breakpoint-down(sm) {
                    position: relative;
                }
            }

            .location_address_lhs_slant {

                // Using Skew
                
                height: 180px;
                width: 600px;
                content: "";
                display: block;
                position: absolute;
                right: -310px;
                background: white;
                transform: rotate(270deg) skewY(15deg);
                top: 210px;
                box-shadow: rgba(0,0,0,0.1) 0px 45px 35px -40px;
                z-index: 1000;

                @include media-breakpoint-between(sm, md) {
                    /* height: 50px;
                    width: 601px;
                    content: "";
                    right: -303px;
                    transform: rotate(270deg) skewY(4deg);
                    top: 276px; */
                    //display: none;
                }

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }

        .location_map_container {
            &::before {
                /* //Using Border
                height: 0;
                width: 115px;
                content: "";
                display: block;
                position: absolute;
                border-top: #{$location_iframe_height+5px} solid #ffffff;
                border-right: 150px solid transparent;
                left: 15px; */

                /* // Using Skew 
                height: 180px;
                width: 600px;
                content: "";
                display: block;
                position: absolute;
                left: -290px;
                background: white;
                transform: rotate(270deg) skewY(15deg);
                top: 210px;
                box-shadow: rgba(0,0,0,0.1) 0px 45px 35px -40px; */
            }
        }
    }

    .faq_div {
        padding: 60px 30px;

        @include media-breakpoint-down(sm) {
            padding: 60px 0px;
        }
        
        .faq_header {
            background-color: #E1E1E1;
            border-radius: 55px;
            height: 50px;
            display: flex;
            user-select: none;

            @include media-breakpoint-down(sm) {
                height: 45px;
            }

            .faq_categories {
                color: #171717;
                height: 50px;
                border-radius: 30px;
                min-width: $faq_categories_width;
                font-weight: 600;
                font-family: montserrat;
                display: flex;
                align-items: center;
                justify-content: center;
                //padding: 15px 35px;
                font-size: 15px;
                z-index: 1000;
                cursor: pointer;
                transition: all 0.3s ease;

                @include media-breakpoint-down(sm) {
                    font-size: 13px;
                    min-width: $faq_categories_width/2;
                    padding: 0px 10px;
                    height: 45px;
                }

                &.bg_slider {
                    /* background-color: #FF4A4A; */
                    background-color: #132F4A;
                    position: absolute;
                    z-index: 10;
                    transition: .3s ease-in-out;
                }

                &.one.active ~ .bg_slider {
                    margin-left: $faq_categories_width * 0;
                    @include media-breakpoint-down(sm) {
                        margin-left: $faq_categories_width/2 * 0;
                    }
                }
                &.two.active ~ .bg_slider {
                    margin-left: $faq_categories_width * 1;
                    @include media-breakpoint-down(sm) {
                        margin-left: $faq_categories_width/2 * 1;
                    }
                }
                &.three.active ~ .bg_slider {
                    margin-left: $faq_categories_width * 2;
                    @include media-breakpoint-down(sm) {
                        margin-left: $faq_categories_width/2 * 2;
                    }
                }
                &.four.active ~ .bg_slider {
                    margin-left: $faq_categories_width * 3;
                    @include media-breakpoint-down(sm) {
                        margin-left: $faq_categories_width/2 * 3;
                    }
                }

                &.active {
                    color: #fff;
                }
            }
        }

        .faq_content {
            margin-top: 50px;
            min-height: 50vh;

            @include media-breakpoint-down(sm) {
                min-height: auto;
            }
            /* display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px; */
            /* display: flex;
            flex-wrap: wrap;
            justify-content: space-between; */

            /* @include media-breakpoint-down(sm) {
                grid-template-columns: auto;
            } */

            .faq_element {
                background-color: #fff;
                position: relative;
                margin-bottom: 20px;
                
                /* width: 49%;
                margin-bottom: 20px; */

                .faq_question {
                    padding: 22px;
                    font-weight: 600;
                    font-size: 15px;
                    display: flex;
                    justify-content: space-between;
                    color: #000;
                    transition: all 0.3s ease;
                    user-select: none;
                    cursor: pointer;

                    @include media-breakpoint-down(sm) {
                        font-size: 14px;
                        padding: 14px;
                    }

                    & > .faq_question_lhs {

                    }

                    & > .faq_question_chevron {
                        color: #FF4A4A;

                        i {
                            font-size: 22px;

                            @include media-breakpoint-down(sm) {
                                font-size: 18px;
                            }
                        }
                    }

                    &.faq_active {
                        /* background-color: #FF4A4A; */
                        background-color: #132F4A;
                        color: #fff;

                        i {
                            color: #fff;
                        }
                    }

                    &.faq_open {
                        /* background-color: #FF4A4A; */
                        background-color: #132F4A;
                        color: #fff;

                        i {
                            color: #fff;
                        }
                    }
                }

                .faq_answer {
                    padding: 25px;
                    font-size: 14px;
                    display: none;
                    transition: position 0.3s ease;
                    border: 1px solid transparent;

                    @include media-breakpoint-down(sm) {
                        font-size: 13px;
                        padding: 16px;
                    }

                    &.faq_active {
                        /* border: 1px solid #FF4A4A; */
                        border: 1px solid #132F4A;
                    }

                    &.faq_open {
                        /* border: 1px solid #FF4A4A; */
                        border: 1px solid #132F4A;
                        display: block;
                    }
                }
            }
        }
    }
    /* Faq Div */

    .blog_div_container {
        padding: 60px 30px;

        .blog_div {
            

            & > .blog_unit {
                background-color: #fff;
                height: 500px;
                margin-bottom: 30px;

                &.blog_1 {
                    & > .top {
                        height: 200px;

                        .tag {
                            font-family: montserrat;
                            position: absolute;
                            top: 15px;
                            left: 30px;
                            color: #ffff;
                            background-color: #132f4a;
                            font-size: 12px;
                            font-weight: 600;
                            padding: 5px 10px;
                        }
    
                        img {
                            object-fit: cover;
                            height: 200px;
                            width: 100%;
                        }
                    }
                }

                &.blog_1 {
                    & > .bottom {
                        padding: 30px;
                        font-family: "open sans";
                        height: calc(500px - 200px);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .date {
                            color: #5d5d5d;
                            font-size: 14px;
                        }
                        .title {
                            color: #171717;
                            font-size: 20px;
                            font-weight: 700;
                            //font-family: montserrat;
                            
                        }
                        .content {
                            font-size: 14px;
                            color: #8B8B8B;
                            line-height: 2em;
                        }
                    }
                }

                &.blog_2 {
                    & > .top {
                        height: 300px;

                        .tag {
                            font-family: montserrat;
                            position: absolute;
                            top: 15px;
                            left: 30px;
                            color: #ffff;
                            background-color: #132f4a;
                            font-size: 12px;
                            font-weight: 600;
                            padding: 5px 10px;
                        }
    
                        img {
                            object-fit: cover;
                            height: 300px;
                            width: 100%;
                        }
                    }
                }

                &.blog_2 {
                    & > .bottom {
                        padding: 30px;
                        font-family: "open sans";
                        height: calc(500px - 300px);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .date {
                            color: #5d5d5d;
                            font-size: 14px;
                        }
                        .title {
                            color: #171717;
                            font-size: 20px;
                            font-weight: 700;
                            //font-family: montserrat;
                            
                        }
                        .content {
                            font-size: 14px;
                            color: #8B8B8B;
                            line-height: 2em;
                        }
                    }
                }

                &.blog_3 {
                    display: flex;
                    @include media-breakpoint-down(md) {
                        flex-direction: column;
                    }
                    & > .top {
                        min-width: 400px;
                        height: 100%;

                        @include media-breakpoint-down(md) {
                            min-width: 100%;
                            height: 300px;
                        }

                        .tag {
                            font-family: montserrat;
                            position: absolute;
                            top: 15px;
                            left: 30px;
                            color: #ffff;
                            background-color: #132f4a;
                            font-size: 12px;
                            font-weight: 600;
                            padding: 5px 10px;
                        }
    
                        img {
                            object-fit: cover;
                            height: 100%;
                            min-width: 400px;

                            @include media-breakpoint-down(md) {
                                min-width: 100%;
                                height: 300px;
                            }
                        }
                    }
                }

                &.blog_3 {
                    @include media-breakpoint-down(md) {
                            height: auto;;
                    }
                    & > .bottom {
                        padding: 30px;
                        font-family: "open sans";
                        display: flex;
                        flex-direction: column;

                        
                        

                        .date {
                            color: #5d5d5d;
                            font-size: 14px;
                            margin-bottom: 3em;
                        }
                        .title {
                            color: #171717;
                            font-size: 20px;
                            font-weight: 700;
                            margin-bottom: 2em;
                            //font-family: montserrat;
                            
                        }
                        .content {
                            font-size: 14px;
                            color: #8B8B8B;
                            line-height: 2em;
                            margin-bottom: 2em;
                        }

                    }
                }
                

                
            }

            .blog_3 {
                height: 400px;
            }
        }

        
    }
    /* Blog Div */

    .blog_article_div {
        background-color: #fff;
        min-height: 100vh;
        padding: 35px;
        margin-top: 30px;
        margin-bottom: 40px;

        @include media-breakpoint-down(sm) {
            padding: 30px;
        }

        .date {
            color: #5d5d5d;
            font-size: 15px;
            margin-bottom: 3em;
        }
        .title {
            color: #171717;
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 1.25em;
            font-family: montserrat;

            @include media-breakpoint-down(sm) {
                font-size: 24px;
            }
            
        }
        .content {
            font-size: 14px;
            color: #8B8B8B;
            line-height: 2em;
            margin-bottom: 1em;
        }

        .author {
            display: flex;
            align-items: center;
            margin-bottom: 3em;
            .author_image {
                margin-right: 15px;
                img {
                    min-width: 70px;
                    min-height: 70px;
                    background-color: #eee;
                    border-radius: 70px;
                }
            }
            .author_name {
                color: #5D5D5D;
                font-weight: 600;
            }
        }
        .article_image {
            margin-bottom: 3em;
        }
        .article_content {
            font-size: 20px;
            color: #595959;
            line-height: 1.85em;

            @include media-breakpoint-down(sm) {
                font-size: 16px;
            }
        }
        .article_comment_section {
            margin-top: 3em;
            border-top: 5px solid #ccc;
            border-bottom: 5px solid #ccc;
            font-size: 35px;
            text-align: center;
            font-family: montserrat;
            text-transform: uppercase;
            padding: 40px 0px;
            margin-bottom: 1em;
        }
    }
    /* Blog article div */

    /* Index page elements */
    .slider_container {
        width: 100%;
        height: 700px;
        
        img {
            object-fit: cover;
            width: 100%;
            height: 700px;
            object-position: 0% 20%;
        }
    }
    /* Index Page */

    /* About Page */
    .about_div {
        padding: 70px 30px;

        @include media-breakpoint-down(sm) {
            padding: 40px 30px;
        }

        .about_lhs {

            
            height: 100%;
            /* display: flex;
            flex-direction: column;
            justify-content: space-between; */


            h2 {
                font-family: montserrat;
                font-size: 22px;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 0px;
            }

            .underline {
                width: 75px;
                height: 3px;
                background-color: #FF4A4A;
                margin: 1.5em 0em 2.5em;

                /* @include media-breakpoint-between(md, lg) {
                    margin: 0em;
                } */

            }

            .welcome_message {
                font-weight: 300;
                font-size: 16px;
                color: #171717;
                line-height: 2em;
                margin-bottom: 4em;

                @include media-breakpoint-between(sm, md) {
                    margin-bottom: 2em;
                }
            }

            .know_more_button {
                //margin-top: 2em;
                font-family: montserrat;
                background-color: #132F4A;
                color: #fff;
                font-size: 13px;
                padding: 10px 15px;
                width: 125px;
                display: inline-flex;
                justify-content: center;
                text-decoration: none;
                font-weight: 600;
            }
        }

        

        .location_address_container {
            padding: 0px !important;
        }

        
        .location_address_lhs_slant.about_slant {
            height: 115px;
            width: 430px;
            right: -215px;     
            top: 155px;

            /* @include media-breakpoint-down(md) {
                height: 115px;
                width: 340px;
                right: -180px;
                top: 110px;
            } */

        }

        .about_us_image_container {
            img {
                min-height: 400px;
                object-fit: cover;
                max-height: 400px;
                width: 100%;

                @include media-breakpoint-down(sm) {
                    min-height: auto;
                }
            }

            @include media-breakpoint-down(sm) {
                margin-top: 3em;
            }
        }


        
        
    }

    /* Department row */
    .departments_row {
        min-height: 400px;
        background-color: #F1F3F3;
    }

        .departments_div {
            padding: 70px 0px;
            
            @include media-breakpoint-down(sm) {
                padding: 50px 15px;
            }


        h2 {
            font-family: montserrat;
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 0px;
        }

        .underline {
            width: 75px;
            height: 3px;
            background-color: #FF4A4A;
            margin: 1.5em 0em 2.5em;

            /* @include media-breakpoint-between(md, lg) {
                margin: 0em;
            } */

        }

        .departments_message {
            font-weight: 300;
            font-size: 16px;
            color: #171717;
            line-height: 2em;
            margin-bottom: 4em;

            @include media-breakpoint-between(sm, md) {
                margin-bottom: 2em;
            }
        }

        .department_images_container {
            width: 100%;
            .department_images_div {
                img {
                    min-height: 185px;
                    max-height: 185px;
                    background-color: #fff;
                    min-width: 100%;
                }
                margin-bottom: 30px;
            }
        }
    }
    /* Department row */

    /* Services row */
    .services_images_container {
        width: 100%;
        margin: 0px;
        .services_images_div {
            img {
                min-height: 320px;
                max-height: 320px;
                background-color: #F1F3F3;
                min-width: 90%;

                @include media-breakpoint-down(md) {
                    min-width: 100%;
                    min-height: 260px;
                    max-height: 260px;
                }
            }
            margin-bottom: 30px;
        }
    }
    /* Services row */

    /*** About Page ***/


    /*** Index Page ***/
    /* Services section */
    .index_services_row {
        text-align: center;

        .underline {
            margin: 1.5em auto 2.5em;
        }

        .departments_message {
            font-size: 18px;
            font-weight: 400;
            color: #5D5D5D;
        }

        .services_images_div {
            img {
                background-color: #fff;
            }
        }
    }
    /* Services section */

    /* Meet our team */
    .index_team_row {
        background-color: #fff;
    }
    .team_images_container {
       
         //Slick slider arrow styles included inthe index.html page head

        .team_images_div {
            padding: 50px;
            outline: none;

            .team_image_wrapper {
                box-shadow: rgba(0,0,0,0.15) 0px 0px 5px 0px;
            }

            
            .image_div {
                img {
                    min-height: 400px;
                    max-height: 400px;
                    background-color: #F1F3F3;
                    min-width: 100%;
                    object-fit: cover;
                }
            }

            .name_div {
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 25px;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                

                h3 {
                    font-family: montserrat;
                    font-size: 20px;
                    font-weight: 400;
                    color: #2F3D4A;
                    margin-bottom: 15px;
                }

                h6 {
                    font-family: "open sans";
                    font-size: 15px;
                    color: #848484;
                    font-weight: 300;
                }
            }

            
        }
    }
    /* Meet our team */

    /* Testimonials */
    .index_testimonials_row {
        background-color: #3B4754;
        min-height: 500px;
    }
    /* Testimonials */
    /*** Index Page ***/

}
/*** Content ***/