@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';

body {
    background-color: $body_bg_color; //overflow-y: hidden;
    font-family: "open sans";
}


input {
    font-family: "open sans";
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  @keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */

.max_width {
    width: 100%;
    max-width: $max_width;
    margin: 0 auto;
}

/*** Header ***/
#header {
    box-shadow: rgba(0,0,0,0.1) 0px 0px 40px 0px;
    #header_top {
        background-color: #132F4A;
        height: $header_top_bar_height;
        color: #BBBBBB;
        font-size: 13px;
        font-family: montserrat;
         
        div {
            display: flex;
            align-items: center;
        }

        i{
            font-size: 14px;
            margin-right: 5px;

            &.fa-phone {
                transform: scaleX(-1);
            }
        }

        .header_top_rhs {
            div {
                margin-left: 50px;
            }
        }
    }

    #header_bottom {
        background-color: #fff;
        height: 95px;

        .header_bottom_container {
        }

        .logo {
            font-family: montserrat;
            font-weight: 600;
            color: #07668C;
            font-size: 28px;
        }

        #menu_item_container {
            flex-grow: 1;
            margin-left: 65px;
        }

        #primary-menu {

            margin: 0px;
            padding: 0px;

            li {
                display: inline-block;
                margin-right: 40px;

                a {
                    text-decoration: none;
                    font-family: montserrat;
                    font-weight: 600;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: #222;
                    outline: none;
                }

                i {
                    display: none;
                }
                .sub-menu {
                    display: none;
                }
            }
        }

        .appointment_button_div {
            a {
                color: #fff;
                font-family: montserrat;
                font-weight: 600;
                padding: 15px 30px;
                background-color: #FF4A4A;
                font-size: 13px;
                text-transform: uppercase;
                border-radius: 30px;
                text-decoration: none;
            }
        }
    }
}
/*** Header ***/

/*** Footer ***/
#footer {
    #footer_top {
        background-color: #132F4A;
        min-height: 365px;
        color: #fff;
        padding: 60px 15px 30px;

        & > .max_width > div {
            @include media-breakpoint-down(sm) {
                margin-bottom: 100px;
            }
            
        }

        .footer_sections {
            height: 240px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                font-family: montserrat;
                font-size: 26px;
                font-weight: 600;
                margin-bottom: 0;
            }

            p {
                color: #a2a2a2;
                font-size: 14px;
                width: 75%;
                margin-bottom: 0px;
                line-height: 1.75em;
            }
            .social_icons {
                i {
                    margin-right: 40px;
                }
            }
        }

        .footer_mhs {
            color: #fff;
            font-size: 15px;
            i {
                color: #ddd;
                margin-right: 10px;
                font-size: 16px;

                &.fa-phone {
                    transform: scaleX(-1);
                }
            }

            & > div {
                color: #a2a2a2;
                font-size: 14px;
            }
            h2 {
                font-family: "open sans";
                font-size: 20px;
            }
        }

        .footer_rhs {
            h2 {
                font-family: "open sans";
                font-size: 20px;
                margin-bottom: 35px;
            }
            a {
                color: #a2a2a2;
                text-transform: uppercase;
                font-size: 13px;
            }
        }
    }

    #footer_bottom {
        background-color: #fff;
        height: 80px;
        font-size: 13px;

        i {
            font-size: 22px;
            margin-right: 3px;
        }
    }
}
/*** Footer ***/

/*** Content ***/
#content {
    height: 50vh;
}
/*** Content ***/